html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: #FBE0C9;
  margin-bottom: 52px;
  margin-top: 70px;
}


.navbar-fixed-bottom > div > .navbar-header {
  float: none;
}

.navbar > .container {
  text-align: center;
}

.navbar {
  background-color: #F28F3B;
}

.link {
  font-size: 20px;
  color: white;
  margin-right: 20px;
}

.navbar-header > a {
  font-size: 36px;
  margin-right: 5px;
  margin-left: 5px;
  color: white;
}

.navbar-header > a:hover, .link:hover {
  text-decoration: none;
  color: #FBE0C9;
}

.navbar-nav {
  margin-top: 7.5px; 
}

@media (max-width: 768px) {
  .navbar-header > .link {
    margin-left: 44px;
  }
}

button.link {
  background:none!important;
  color: white;
  border:none; 
  padding:0!important;
  font: inherit;
  cursor: pointer;
  font-size: 20px;
}

.list-group {
  text-align: center;
}

.book-covers {
  margin-right: 10px;
  height: 180px;
  width: 130px;
}