html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: #FBE0C9;
  margin-bottom: 52px;
  margin-top: 70px;
}


.navbar-fixed-bottom > div > .navbar-header {
  float: none;
}

.navbar > .container {
  text-align: center;
}

.navbar {
  background-color: #F28F3B;
}

.navbar-header > a {
  font-size: 36px;
  margin-right: 10px;
  color: white;
}

.navbar-header > a:hover {
  color: black;
}
